<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
  <property file="${MODULE_PATH}/conf.yml" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[%5p] [%F]%M\(%L\) : %m%n</pattern>
      </layout>
    </appender>
    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${class}/${class}_migration.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/backup/${class}/${class}_migration.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
        	<charset>UTF-8</charset>
            <pattern>%-16(%d{HH:mm:ss.SSS} | %level) [%-32.32C{32}] %-32M\(%L\) | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="QUERY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${class}/${class}_query.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/backup/${class}/${class}_query.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
        	<charset>UTF-8</charset>
            <pattern>%-16(%d{HH:mm:ss.SSS} %level) %-32C{30}.%-32M\(%L\) | %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="PROCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${class}/${class}_process.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/backup/${class}/${class}_process.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
        	<charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | %-32.32C{30} | %-32M\(%L\) | %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug" additivity="false">
       <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.quantum" level="debug" additivity="false">
    	<appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.quantum" level="debug}" additivity="false" >
        <appender-ref ref="APP_LOG" />
    </logger>
    <logger name="com.inzent" level="debug" additivity="false" >
    	<appender-ref ref="APP_LOG" />
    </logger>
   <logger name="process" level="debug" additivity="false" >
        <appender-ref ref="PROCESS_LOG" />
    </logger>
    <logger name="query" level="debug" additivity="false">
    	<appender-ref ref="QUERY_LOG" />
    </logger>
	
</configuration>
